.list-messages {
    text-align: center;
    width: 50%;
    margin: auto;
  }
  .back-btn{
    width: 35%;
    margin: auto;
  }
  
  $scroll: 10px;
  
  ::-webkit-scrollbar {
    width: $scroll;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: $scroll;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  ::-webkit-scrollbar-track {
    border-radius: $scroll;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  ul,
  li {
    list-style-type: none;
  }
  
  .wrapper {
    margin-top: 50px;
    #message{
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 25px;
        @media (max-width:641px)  { 
            width: 88%;
        }
     
    }
    .send-msg {
        margin: 25px;
        text-align: center;
        .send-btn{
            background-color: transparent;
            border: transparent;
            .logo-send{
                width: 20px;
                height: 20px;
                cursor: pointer;
                top: 5px;
    position: relative;
    right: 40px;
            }
        }
      }
    ul {
      width: 50%;
      margin: 0 auto;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-right: 30px;
      @media (max-width:641px)  { 
        width: 100%;
    }
  
      li {
        margin-bottom: 20px;
        padding: 10px 20px;
        background-color: #ccc;
        position: relative;
        border-radius: 10px;
        font: 1em/1.6 "arial";
        clear: both;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.35);
  
        &:nth-child(odd) {
          float: left;
          margin-left: 80px;
          &:before {
            left: -80px;
          }
        }
  
        &:nth-child(even) {
          float: right;
          margin-right: 80px;
          color: rgba(255, 255, 255, 0.9);
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
          background-color: #428cd7;
          &:before {
            right: -80px;
          }
        }
  
        &:before,
        &:after {
          position: absolute;
          content: "";
        }
  
        &:before {
          width: 45px;
          height: 45px;
          top: 0;
          border-radius: 50%;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }
      }
    }
  }
  